<%= turbo_frame_tag "content" do %>
<div class="project-template">
    <%= link_to "Back", :back, class: "back-button top" %>
    <h1 class="blog-title-page"><%= @blog_post.title %></h1>
    <p><%= @blog_post.published_at.strftime("%B %d, %Y") %></p>

    <% if @blog_post.tags.any? %>
    <p>Tags:
        <% @blog_post.tags.each do |tag| %>
        <b> <%= tag.name %> </b>
        <% end %>
    </p>
    <% end %>
    <div class="project-content">
        <div>
            <%= markdown(@blog_post.content) %>
        </div>
    </div>
</div>

<% end %>