<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Personal Website" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="google-site-verification" content="FUW-DCVd4eQlfx-CfGh72kQG1fDoLl5HFrHrOHNww9c" />
    <meta name="turbo-visit-control" content="reload">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/android-chrome-192x192.png">
  <link rel="icon" type="image/png" sizes="512x512" href="/android-chrome-512x512.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>
      <a href="/" data-turbo-frame="content">Home</a>
      <a href="/about" data-turbo-frame="content">About</a>
      <a href="/contact" data-turbo-frame="content">Contact</a>
  
      <% if admin_signed_in? && request.remote_ip.in?(Rails.configuration.admin_allowed_ips) %>
        <a href="<%= admin_panel_root_path %>" data-turbo-frame="main_content">Admin Panel</a>
      <% elsif !admin_signed_in? && request.remote_ip.in?(Rails.configuration.admin_allowed_ips) %>
        <a href="<%= new_admin_session_path %>" data-turbo-frame="main_content">Admin Login</a>
      <% end %>
    </nav>
  <turbo-frame id="content">
    <%= yield %>
  </turbo-frame>
  
  <footer>
    <p>© <%= Time.now.year %> Johan Oh. All rights reserved.</p>
    <p>
      <a href="https://github.com/johanoh" target="_blank" rel="noopener noreferrer">
        <%= image_tag "icons/github.svg", width: 24, height: 24, alt: "GitHub" %>
      </a>
      <a href="https://www.linkedin.com/in/johan-oh-01230464/" target="_blank" rel="noopener noreferrer">
        <%= image_tag "icons/linkedin.svg", width: 24, height: 24, alt: "LinkedIn" %>
      </a>
      <a href="https://www.instagram.com/ohjohan/" target="_blank" rel="noopener noreferrer">
        <%= image_tag "icons/instagram.svg", width: 24, height: 24, alt: "Instagram" %>
      </a>
    </p>
  </footer>
</html>
